

@font-face {
    font-family: 'Plain';
    src: url('../fonts/Plain-Extrabold.woff2') format('woff2'),
        url('../fonts/Plain-Extrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'refreshregular';
    src: url('../fonts/refresh-regular-webfont.woff2') format('woff2'),
         url('../fonts/refresh-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kg_this_is_not_goodbyeregular';
    src: url('../fonts/kgthisisnotgoodbye-webfont.woff2') format('woff2'),
         url('../fonts/kgthisisnotgoodbye-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Plain';
    src: url('Plain-Medium.woff2') format('woff2'),
        url('Plain-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

*{
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
}
html {
  font-size: 15px;
}

body {
  font-family: 'Plain';
  font-weight: 500;
  font-style: normal;
  font-size: 100%;
}

h1 {
  font-family: 'kg_this_is_not_goodbyeregular';
}

h2 {
  font-family: 'refreshregular';
  font-weight: normal;
  font-style: normal;
}

.wrapper {
  display: flex;
}

.page-content {
  width: 100vw;
}

@media screen and (min-width: 768px) {
  .page-content {
    width: 85vw;
    margin-left: 15vw;
  }
}

/* ------------------ PAGE-HEAD ---------------------*/
/* ----- Logo ---- */
.page-head {
  position: fixed;
  background-color: #fff;
  height: 100%;
  width: 15vw;
}
.logo_pfk {
  padding: 10px;
}

.logo_pfk img {
  margin: auto;
  display: block;
  width: 150px;
}

/* ----- Nav ---- */
.section-nav ul li {
  font-family: 'refreshregular';
  font-size: 25px;
  padding-top: 2vw;
}

.section-nav {
  padding-top: 1.5vh;
}

.section-nav ul li a:link {
    color: #000;
    padding: 2vw;
    display: block;
}

.section-nav ul li a:hover {
    background-color: rgba(218, 0, 78, 0.3);
}

/* ----- Langues ---- */

.section-langues {
  font-family: 'refreshregular';
  font-size: 18px;
}

.section-langues ul {
  display: flex;
  justify-content: center;
  margin: 1vw;
  padding-top: 2vw;
}

.section-langues ul li a:link{
  padding: 1vw;
  color: #000;
}

.section-langues .barres {
  background-color: #000;
  width: 1px;
  content: '';
}

/* ----- Resaux ---- */

.section-reseaux ul {
  display: flex;
  justify-content: center;
  padding: 1vw;
}

.section-reseaux ul li {
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 1.5vw;
}

/* ----- Mentions-legales ---- */

.mentions {
  font-size: 8px;
  display: flex;
  justify-content: center;
  padding-top: 1vw;
  padding-bottom: 0;
}

/* ----- Nav-mobile ---- */
.block--nav-button{
  position: fixed;
  z-index: 8888888888888;
  cursor: pointer;
  background-color: white;
  width: 8vh;
  height: 8vh;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1vh;
  left: 1vh;
}
#nav-display {
  display: none;
}
@media screen and (min-width: 768px) {
  .block--nav-button{
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #nav-display:checked ~ .page-head {
    height: 100vh;
    font-size: 2em;
    background-color: #fff;
    padding: 20vw;
    padding-left: 20vw;
    padding-bottom: 0px;
    opacity: 1;
  }
}
@media screen and (max-width: 768px) {
  .page-head{
    opacity: 0;
    height: 10vh;
    width: 100%;
  }
}

/* ------------------ HOME ---------------------*/

.page-home {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .page-home {
    height: 100vh;
  }
}

.block_bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2vh 2vw;
}

.block_bubble:after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background: center no-repeat;
  background-size: cover;
  position: absolute;
}

.block_bubble.black_bubble {
  background-color: black;
}

.block_bubble.black_bubble:after {
  width: 100px;
  height: 100px;
  left: 5px;
  bottom: 5px;
  background-image: url('../images/blk_tong.png');
}

.block_bubble.org_bubble {
  background-color: #e96a09;
}

.block_bubble.org_bubble:after {
  background-image: url('../images/org_tong.png');
}

.block_bubble.red_bubble {
  background-color: #da004e;
}
.block_bubble.red_bubble:after {
  left: -20px;
  top: 20px;
  background-image: url('../images/red_tong.png');
}
.block_bubble.green_bubble {
  background-color: #97c500;;
}
.block_bubble.green_bubble:after {
  left: 0;
  bottom: 0;
  background-image: url('../images/green_tong.png');
}

.block_bubble * {
  color: white;
}


/* -- section-home bubble fixed -- */
@media screen and (min-width: 768px) {
  .page-home .block_bubble {
    position: fixed;
  }
  .page-home .black_bubble {
    left: 140vh;
    top: 8vw;
  }
   .page-home .blk-tong {
     position: fixed;
     left: 140vh;
     top: 8vw;
   }

  .page-home .red_bubble {
    left: 140vh;
    top: 28vw;
  }

  .page-home .red-tong {
    position: fixed;
    left: 137vh;
    top: 30vw;
  }

  .page-home .green_bubble {
    left: 55vh;
    top: 33vw;
  }

  .page-home .green-tong {
    position: fixed;
    left: 66vh;
    top: 35vw;
  }

  .leaves {
    position: fixed;
    top: 20vw;
    left: 53vh;
    z-index: 999999999999;
  }
}

/* -- section-home -- */

.img_can {
  background-image: url(../images/img_home_main.png);
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
}
@media screen and (min-width: 768px) {
  .img_can {
    height: 100vh;
  }
}

.page-home .black_bubble {
  background-color: #000;
  width: 300px;
  height: 300px;
  border-radius: 300px;
}
.page-home .black_bubble h1 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 1vw;
}
 .page-home .black_bubble h2 {
   font-size: 30px;
   text-align: center;
 }

.page-home .red_bubble {
  width: 180px;
  height: 180px;
  border-radius: 180px;
}

.page-home .red_bubble h3 {
  text-align: center;
  font-family: 'kg_this_is_not_goodbyeregular';
  margin-top: 0.1vw;
}

.page-home .red_bubble img {
  margin-top: 1vw;
}

.page-home .green_bubble {
  width: 210px;
  height: 210px;
  border-radius: 210px;
}

.page-home .green_bubble h3 {
  text-align: center;
  font-family: 'kg_this_is_not_goodbyeregular';
  text-transform: uppercase;
  margin-top: 2vw;
}

.page-home .green_bubble img {
  margin-top: 1vw;
}

/* ------------------ recyclage ---------------------*/
.page-section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10vh 5vw;
}
@media (min-width: 641px) {
  .page-section {
    height: 100vh;
  }
}

.block_bubble {
  width: 300px;
  height: 300px;
  border-radius: 300px;
  margin: auto;
  position: relative;;
  z-index: 2;
}

.block_intro {
  background-color:  rgba(255, 255, 255, 0.5);
  padding: 50px;

  margin-top: -25px;
  position: relative;;
  z-index: 1;
}

@media (min-width: 641px) {
  .block_intro {
    margin: 0 15vw;
  }
}

.block_intro p {
  font-family: 'Plain';
  font-size: 14px;
}

.section {
  padding: 5vh 10vw;
}

@media (min-width: 641px) {
  .section {
    display: flex;
  }
  .column {
    flex: 1;
  }
  .section:nth-child(odd) .column-left {
    order: 2;
  }
  .section:nth-child(odd) .column-right {
    order: 1;
  }
}
/* --------------------------- POWERFREAK  ----------------*/
.block_bubble.org_bubble {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  margin-right: 45vw;
  margin-bottom: 5vw;
}

.block_bubble.org_bubble h3{
    font-family: 'kg_this_is_not_goodbyeregular';
}


/* ----------- acordion -------- */

#accordion {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.container h3 {
  font-family: 'kg_this_is_not_goodbyeregular';
  margin: 2vw;
  background-color: #da004e;
  color: #fff;
  padding: 2vh;
}

.container p {
 padding-left: 5vw;
 padding-right: 5vw;
}

/* --------------------------- CONTACT  ----------------*/
.page-section.page-contact .block_bubble.red_bubble {
  width: 600px;
  height: 600px;
  border-radius: 600px;
}

.page-section.page-contact h2 {
  font-size: 40px;
  padding: 5vw;
  letter-spacing: 0.1em;
}

.page-section.page-contact h3 {
  font-family: 'kg_this_is_not_goodbyeregular';
  padding: 1vw;
  letter-spacing: 0.1em;
  font-size: 15px;
}

/* --------------- Resets */
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
